@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: white !important;
    color: #0f172a !important;
  }
  .print-hidden {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
}
